.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 25px auto;
  grid-template-columns: 170px 10fr;
  grid-template-areas: 
  "h h"
  "c m";
}

.app-wrapper-content {
  grid-area: m;
}